body {
  margin:0;
}
.tz-slideshow-widget-area {
  /*background:orange;*/
  width:100%;
  float: left;
}
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/*.slick-slide > div.wrap {*/
  /*display: -webkit-box;*/
  /*display: -ms-flexbox;*/
  /*display: flex;*/
  /*-webkit-box-align: center;*/
      /*-ms-flex-align: center;*/
          /*align-items: center;*/
  /*-webkit-box-pack: center;*/
      /*-ms-flex-pack: center;*/
          /*justify-content: center; }*/

.slick-banner {visibility: hidden; }

.slick-banner.slick-initialized {
  visibility: visible; }

.slick-banner-slide {
  /*background: red;*/
  position: relative;
  width: 100%; }
  .slick-banner-slide h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    opacity: 0;
    zoom: .6;
    width: 80%;
    left: 10%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    color: #e8c713;
    /*text-shadow: 2px 3px 4px #282828;*/
    font-size: 4rem;
    position: absolute;
    z-index: 50;
    /*border: 1px solid #738178;*/
    padding: 1rem;
    top:40%;
    text-transform: uppercase; 
    width: 100%;
    position: absolute;
    top: 30%;
    left: 10%;
    width: 80%;
    color: black;
    text-align: center;
    z-index: 300;
    font-size: 36px;
    text-transform: uppercase;
    line-height: 1em;
    /* background: #c1c1c2; */
    background: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    padding: 10px 10px;
    /* border-right: black 1px solid; */
    /* border-left: black 1px solid; */
    font-family: 'colaborate-thinregular';
    
  }
  @media screen and (max-width: 39.9375em) {
    .slick-banner-slide h2 {
      /*font-size: 1.6rem; */
    } 
  }
  @media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .slick-banner-slide h2 {
      /*font-size: 1rem; */
    } 
  }
  .slick-banner-slide img {
    z-index: 40;
    top: 0;
    left: 0;
    width: 100%; 
  }


.snowbotica-case-study {
  padding:40px 0;
  background:#c6c6cf
}

.snowbotica-case-study .service-info h2 {
    text-align: left;
    margin: 0;
    /*font-family: 'Montserrat', sans-serif;*/
    font-weight: 700;
    color: #443d46;
    font-size: 1.4rem;
    margin-bottom: .5rem;
}
.snowbotica-case-study .service-info p {
    color: #443d46;
    font-size:16px;
    
}
.snowbotica-case-study .case-study-description {
  padding:15px;
  /*margin:5px;*/
  border-radius:5px;
  background:white;
  margin-bottom:20px;
  margin-top:10px;
}
.snowbotica-case-study .case-study-description p:last-of-type {
  margin-bottom:0;
}
.snowbotica-case-study .description-slide p {
  font-size:29px;
}

.footer-bottom {
    
    /*border-top: 40px solid #aaaabf !important;*/
    
    border-top: 40px solid #a3c2d8 !important;
    
    /*border-top: 40px solid #338e16 !important;*/

    /*border-top: 40px solid #377f84 !important;*/
    
    /*border-top: 40px solid #c56803 !important;*/

    /*border-top: 40px solid #c6c6cf !important;*/

}

.top-bar .menu a {
    color: #c6c6cf !important;
}
.top-bar .menu a:hover:not(.button) {
    background-color: transparent !important;
    color:#377f84 !important;
}

/*.snowbotica-case-study .service-study-*/

.mobile-preview-slide.style-wrapper {
  width:100%;
  text-align: center;
}

ul.slick-dots {
  display:block;
  width:100%;
  padding:0;
  margin:0;
  list-style: none;
}
ul.slick-dots li {
  float: left;
  padding:2px;
  background:white;
  margin-right:5px;
}
ul.slick-dots li button {
  padding:12px;
  background:white;
  font-size:18px;
  color:black;
}
ul.slick-dots li.slick-active button {
  background:#a3c2d8;


}

.image-slide .style-wrapper img {
  margin: auto;
  max-height:500px;
  width: auto;
  height: auto;
  display: block;

}

.stacked-image {
  width:100%;
  text-align: center;
  margin:40px 0 20px;
}


.snowbotica-theme-content {
  padding:40px 0 40px;

}
.case-study-archive {
  background: #c6c6cf;
}

.case-study-listing  {

  width:100%;
  margin-bottom:20px;
  float: left;
}
.case-study-listing:last-of-type {
  margin-bottom:0;
}
.case-study-listing a {
  /*background:#a3c2d8;*/
  display: block;
  width:100%;
}
.case-study-listing .image {
    width: 60px;
    float: left;
    display: block;
    margin-right: 30px;
}
.case-study-listing span.image img {
  max-width: 100%;
  display:block;
}
.case-study-listing .title {
      text-transform: uppercase;
    font-size: 25px;
    padding-top: 10px;
    color: #565669;
}
