<div class="snowbotica-case-study-post-edit-widget">
	<style>
		#snowboticaCaseStudy_slides_meta .inside {
			/* background:darkgreen; */
		}
		.col-md-4 {
			width:35%;
			float:left;
		}
		.col-md-8 {
			width:65%;
			float:left;
		}
		.thing {
			display:block;
			float: left;
			width:100%;
		}
		.thing .radio-input {
			margin:10px 5px;
			float: left;
		}
		.radio-label {
			float: left;
		}
		.radio-label > img {
			max-width:40px; 
			float:left;
		}
		.radio-label > span {
		    float: right;
		    margin-top: 10px;
		    margin-left: 10px;
		}

	</style>
	<!-- <label>
        <input type="radio" name="project"
               value="contained" ng-model="data.settings.width" />
        Contained
    </label>
    <label>
        <input type="radio" name="project"
               value="full-width" ng-model="data.settings.width" />
        Full Width
    </label> -->

	<!-- div class="row">
	
		<div class="col-md-8" style="width">
			<span ng-repeat="view in data.views track by $index" class="thing">

				<input 
				type="radio" 
				id="{{data.views[$index].name}}" 
				class="radio-input"
				name="view-selector" 
				ng-model="selectedREPLACE(REPLACE(url, 'https://', ''), 'http://', '')View" 
				ng-value="data.views[$index].name"
				ng-change="logIt()"
				>
				<label for="{{data.views[$index].name}}" class="radio-label">
					<img src="{{data.views[$index].preview}}">
					<span>{{data.views[$index].label}}</span>
				</label>
				
				<br>
			</span>
			{{selectedView}}
		</div>
	
		<div class="col-md-4">
			<span ng-repeat="view in data.views track by $index" class="thing">
				{{selectedView}}
				<img src="{{data.views[$index].preview}}">
			</span>
		</div>
	
	</div -->

	<div ng-repeat="slide in data['slides'] track by $index" 
	style="padding:5px;margin:10px 0; border-bottom: solid 1px #2a6c31;"
	>
		<div style="display: grid; grid-template-columns: repeat(7, 1fr); width:400px;height:225px;"
		ng-if="toggleTracker[$index].open === true">
			<div ng-repeat="image in options track by $index"
			ng-click="slide.image_id = image.id; toggleTracker[$parent.$index].open = false" 
			style="max-width:100px; overflow:hidden; text-align:center;border:1px solid #888888;">
				<img style="height:75px;" ng-src="{{image.url}}" alt="{{image.alt}}"/> 
			</div>	
		</div> 
		<div style="display: grid; grid-template-columns:1fr 3fr 1fr;">
			<div style="max-width:100px; overflow:hidden; text-align:center;border:1px solid #888888;">
				<img style="height:75px;" 
				ng-click="toggler($index)"
				ng-src="{{imageById(slide.image_id, options)}}"/> 
			</div>	
			<div>
				<label>Caption</label>
				<br/>
				<input type="text" ng-model="slide.caption">
			</div>	
			<div>
				<!-- <input type="number" ng-model="slide.image_id"> -->
				<a class="button" ng-click="removeSlide($index)">remove</a>
			</div>
		</div>
	</div>

    <a class="button" ng-click="addSlide()">Add Slide</a>

	<section><!-- outputs the required markup to save using wordpress settings api -->
	<input
	type="hidden" 
	id="{{id}}"
	name="{{name}}"
	value='{{data}}'>
	</section>

</div>